<% provide(:title, 'Targets') %>
<h1>Listing targets</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Host</th>
      <th>Path</th>
      <th>Maximum Cache Age(seconds)</th>
      <th>Backup Interval (seconds)</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @targets.each do |target| %>
      <tr>
        <td><%= target.host %></td>
        <td><%= target.path %></td>
        <td><%= target.max_cache_age %></td>
        <td><%= target.backup_interval %></td>
        <td><%= link_to target, class: 'btn btn-default' do %>
            <span class="hide">show</span>
            <i class="icon, icon-search"></i>
        <% end %>
        <%= link_to edit_target_path(target), class: 'btn btn-default' do %>
            <span class="hide">edit</span>
            <i class="icon, icon-pencil"></i>
        <% end %>
        <%= link_to target, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
            <span class="hide">delete</span>
            <i class="icon, icon-trash"></i>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Target', new_target_path, class: "btn btn-default btn-primary active"%>
