<% provide(:title, 'Targets') %>
<h1>Listing targets</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Host</th>
      <th>Path</th>
      <th>Enqueue on save/update</th>
      <th>Maximum Cache Age(seconds)</th>
      <th>Backup Interval (seconds)</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @targets.each do |target| %>
      <tr>
        <td><%= target.host %></td>
        <td><%= target.path %></td>
        <td><%= target.queue_now? %></td>
        <td><%= target.max_cache_age %></td>
        <td><%= target.backup_interval %></td>
        <td><%= link_to 'Show', target %>
        <%= link_to 'Edit', edit_target_path(target) %>
        <%= link_to 'Destroy', target, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Target', new_target_path %>
