<% provide(:title, 'Add Target') %>

<h1>New target</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@target) do |f| %>
			<%= render 'shared/error_messages' %>
		
			<%= f.label :host %>
			<%= f.text_field :host %>
			
			<%= f.label :path %>
			<%= f.text_field :path %>
			
			<%= f.submit "Add Backup Target", class: "btn btn-large btn-primary" %>
			
		<% end %>
		
		<%= link_to 'Back', targets_path %>
	</div>
</div>