<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @target.host %>
</p>

<p>
  <strong>Path:</strong>
  <%= @target.path %>
</p>

<p>
  <strong>Queue immediately upon Create/Update:</strong>
  <%= @target.queue_now? %>
</p>


<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>
